In [34]:
#write the statement
fruits  = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

['apple', 'babana', 'cherry']

In [26]:
#write the statement
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [6]:
#write the statement
a = 50
b = 10
if a > b:
    print("hello world")

hello world

In [11]:
#write the statement
x = 12
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

In [38]:
#write the statement
y = 70
if y > 90:
    print("Grade A")
elif (y > 60 <= 90):
    print("Grade B")
else:
    print("Grade F")

Grade B

In [30]:
#write the statement
for i in range(10,50):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [41]:
#write the statement
for x in range(50,100,1):
    print(x)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [31]:
for x in [0,1,2]:
    pass

In [32]:
for x in range(6):
    print(x)
else:
    print("finally finished!")

0
1
2
3
4
5
finally finished!

In [40]:
x = ['1','2','3','4','5','6']
for x in range(6):
    print(x)
else:
    print("finally finished!")

0
1
2
3
4
5
finally finished!

In [43]:
for i in range(51,100,2):
    print(i)

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99